*{
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: "Arial";
	background: url('../Images/background 1.jpg');
	background-position: center;
	background-size: cover;
}
header{
	Background: #ffd000;
	height: 80px;
	width: 100%;
}
.Logo{
	color: black;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
}
header ul{
	float: right;
	margin-right: 20px;
}
header ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 50px;	
}
header ul li a{
	color: black;
	font-size: 15px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #eaff00;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
.Projecth1 {
	color: white;
	text-align: center;
	font-family: "Copperplate", fantasy;
	font-size: 90px;
	margin: auto;
	padding: 10px, 15px, 10px, 15px;
	width: 800px;
	margin-bottom: 20px;
}
.box {
	height: 50px;
	display: flex;
	cursor: pointer;
	padding: 10px 20px;
	background: #fff;
	border-radius: 30px;
	align-items: center;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	margin-left: 520px;
	margin-right: 520px;
	margin-bottom: 50px;
}
.box:hover input{
	width: 400px;
}
.box input {
	width: 0;
	outline: none;
	border: none;
	font-weight: 500;
	transition: 0.8s;
	background: transparent;
}
.box a.fas{
	color: #1daf;
	font-size: 18x;
}
.Projecth3 {
	text-align: center;
	font-size: 30px;
	margin: 0;
	padding-top: 10px;
}
a {
	text-decoration: none;
}
.Projecth2 {
	color:	red;
	text-align: center;
	font-family: "Arial";
	font-size: 60px;
	margin: auto;
	padding: 10px, 15px, 10px, 15px;
	width: 800px;
	margin-bottom: 20px;
}
.Gallery {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.Content {
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: #f2f2f2;
}
.Content:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -8px);
	
}

img {
	width: 300px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.BoxP {
	text-align: center;
	color: black;
	font-family: "Arial";
	font-size: 20px;
	padding-top: 8px;
}
.Visit-1 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #2183a2;
}
.Visit-2 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #3b3e6e;
}
.Visit-3 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #0b0b0b;
}
.Visit-4 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #ff9f43;
}
.Gallery2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}
.Content2 {
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: #f2f2f2;
}
.Content2:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -8px);
}

.Visit-5 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #2183a2;
}
.Visit-6 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #3b3e6e;
}
.Visit-7 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #0b0b0b;
}
.Visit-8 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #ff9f43;
}

.Gallery3 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}	
.Content3 {
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: #f2f2f2;
}
.Content3:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -8px);
}
.Visit-9 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #2183a2;
}
.Visit-10 {
	text-align: center;
	font-size: 24px;
	color: #fff;
	width: 100%;
	padding: 15px;
	border: 0;
	outline: none;
	cursor: pointer;
	margin-top: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	background: #3b3e6e;
}
.Section1 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}
.About-H1 {
	color: white;
	text-align: center;
	font-family: "Copperplate", fantasy;
	font-size: 90px;
	margin: auto;
	min-height: 50vh;
	padding: 10px, 15px, 10px, 15px;
	width: 800px;
	margin-bottom: 20px;
	background: transparent;
}
.About-box {
	position: relative;
	width: 800px;
	height: 700px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.Section2 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}
.Log-in-box {
	position: relative;
	width: 400px;
	height: 450px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	backdrop-filter: blur(15px);
	display: flex;
	justify-content: center;
	align-items: center;
}
.Log-in-H2 {
	font-size: 2em;
	color: #fff;
	text-align: center;
}
.Log-in-inputbox {
	position: relative;
	margin: 30px 0;
	width: 310px;
	border-bottom: 2px solid #fff;
}
.Log-in-inputbox label {
	position: absolute;
	top: 50%;
	left: 5px;
	transform: translateY(-50%);
	color: #fff;
	font-size: 1em;
	pointer-events: none;
	transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
	top: -5px;
}
.Log-in-inputbox input {
	width: 100%;
	height: 50px;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
	padding: 0 35px 0 5px;
	color: #fff;
}
.Log-in-inputbox i {
	position: absolute;
	right: 8px;
	color: #fff;
	font-size: 1.2em;
	top: 20px;
}
.Log-in-forget {
	margin: -15px 0 15px;
	font-size: .9em;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.Log-in-forget label input {
	margin-right: 3px;
}
.Log-in-forget label a {
	color: #fff;
	text-decoration: none;
}
.Log-in-forget label a:hover {
	text-decoration: underline;
}
.Log-in-button {
	width: 100%;
	height: 40px;
	border-radius: 40px;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 1em;
	font-weight: 600;
}
.Log-in-register {
	font-size: .9em;
	color: #fff;
	text-align: center;
	margin: 25px 0 10px;
}
.Log-in-register p {
	font-size: 110%;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
}
.Log-in-register p a:hover{
	text-decoration: underline;

}
.Section3 {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

.container {
    position: relative;
    width: 350px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 32px;
}
.image {
    position: absolute;
    inset: 5px;
    background-color: transparent;
    z-index: 1;
    border-radius: 16px;
}
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.form-box .form h2 {
        font-size: 32px;
        color: #fff;
        text-align: center;
}
.form .input-box {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #fff;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 35px 0 5px;
    color: #fff;
}
input:focus ~ label,
input:valid ~ label{
	top: -5px;
}
.input-box label {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .3s;
}
.group {
    display: flex;
    justify-content: right;
}
.group a {
    position: relative;
    top: -20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
.Register-button {
    height: 40px;
    width: 90px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}
.Register-button:focus {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;

}
#Facebook {
	background: url('../Images/ImgSprite.png') no-repeat -55px -5px;
	width: 38px;
	height: 38px;
}
#Facebook:hover {
	background: url('../Images/ImgSprite.png') no-repeat -55px -46px;
	cursor:pointer;
}
#Youtube{
	background: url('../Images/ImgSprite.png') no-repeat -135px -5px;
	width: 38px;
	height: 36px;
}
#Youtube:hover {
	background: url('../Images/ImgSprite.png') no-repeat -135px -46px;
	width: 38px;
	height: 35px;
}

#footerFB {
	background: url('../Images/ImgSprite.png') no-repeat -55px -5px;
	width: 38px;
	height: 38px;
}
#footerFB:hover {
	background: url('../Images/ImgSprite.png') no-repeat -55px -46px;
	cursor:pointer;
}
#footerYT{
	background: url('../Images/ImgSprite.png') no-repeat -135px -5px;
	width: 38px;
	height: 36px;
}
#footerYT:hover {
	background: url('../Images/ImgSprite.png') no-repeat -135px -46px;
	width: 38px;
	height: 35px;
}

.AnimeGang {
	text-align: center;
	color: black;
	font-family: "Arial";
	font-size: 30px;
	padding-top: 8px;
}
.AnimeGang2 {
	text-align: center;
	color: black;
	font-family: "Arial";
	font-size: 20px;
	padding-top: 8px;
}
.FbName {
	transform: translate(50px, -30px);
}
.YtName {
	transform: translate(50px, -30px);
}
.Browseh2 {
	color: orange;
	text-align: center;
	font-family: "Arial";
	font-size: 60px;
	margin: auto;
	padding: 10px, 15px, 10px, 15px;
	width: 800px;
	margin-bottom: 20px;
}
.flex-container {
	width: 100%;
	height: auto;
	display: flex;
}
.flex-box {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	line-height: 200px;
	margin: 125px;
}
.BrowseH1 {
	color: rgb(190, 0, 0);
	text-align: center;
	font-family: "Copperplate", fantasy;
	font-size: 90px;
	margin: auto;
	padding: 10px, 15px, 10px, 15px;
	width: 800px;
	margin-bottom: 20px;
}
.Content5 {
	width: 20%;
	margin: 15px;
	box-sizing: border-box;
	float: left;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	padding-top: 10px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	0 10px 10px rgba(0, 0, 0, 0.22);
	transition: .4s;
	background: #f2f2f2;
}
.Content5:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
	0 3px 6px rgba(0, 0, 0, 0.23);
	transform: translate(0px, -25px);
}
